.vscode
.vscode-test
.github
.nyc_output
src/
typings/
node_modules/
.eslintrc
.gitignore
codecov.yml
tsconfig.json
webpack.config.js

# Prusti temporary files
log
nll-facts/
report.csv
*.log
target/
