.vscode
.vscode-test
.github
.nyc_output
src/
node_modules/
.eslintrc.js
.gitignore
codecov.yml
tsconfig.json
webpack.config.js

# Prusti temporary files
src/**/log
src/**/nll-facts/
src/**/report.csv
src/**/*.log
